.characterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    position: relative;
    transition: all 0.5s ease;
}

.vector1 {
    position: absolute;
    top: 50%;
    left: 0;
    height: 0px;
    width: 2px;
    transition: all 0.5s ease;
    z-index: 3;
}

.vector2 {
    position: absolute;
    top: 50%;
    right: 0;
    height: 0px;
    width: 2px;
    transition: all 0.5s ease;
    z-index: 3;
}

.characterContainer:hover .vector1,
.characterContainer:hover .vector2 {
    top: 0;
    height: 100%;
}

.vector3 {
    position: absolute;
    top: 0;
    left: 50%;
    height: 2px;
    width: 0px;
    transition: all 0.5s ease;
    z-index: 3;
}

.vector4 {
    position: absolute;
    top: 100%;
    left: 50%;
    height: 2px;
    width: 0px;
    transition: all 0.5s ease;
    z-index: 3;
}

.characterContainer:hover .vector3,
.characterContainer:hover .vector4 {
    left: 0;
    width: 100%;
}

.rarity-4 {
    background: #af86fe;
}

.rarity-5 {
    background: #ffcf70;
}

.imageContainer {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s ease;
}

.imageContainer:hover {
    border-radius: 0;
}

.characterImage, .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    transition: all 0.5s ease;
}

.backgroundImage {
    z-index: 1;
    opacity: 0;
}

.characterContainer:hover .backgroundImage {
    opacity: 1;
}

.characterImage {
    z-index: 2;
}

.characterContainer:hover .characterImage {
    top: -10px;
    left: -10px;
    width: 270px;
    height: 270px;
}

.characterName {
    margin: 10px 0px 5px 0px;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.characterInfo {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    margin-bottom: 5px;
}

.characterInfo p {
    color: #ffffff;
}