.conesList {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.conesList li {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
}

.imageContainer {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 174px;
    height: 204px;
    box-sizing: border-box;
}

.coneImage,
.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 174px;
    height: 204px;
}

.backgroundImage {
    transition: all 0.5s ease;
    z-index: 1;
    opacity: 0;
}

.coneImage {
    z-index: 2;
}

.imageContainer:hover .backgroundImage {
    opacity: 1;
}

.rarity4 {
    border-bottom: 2px #af86fe solid;
}

.rarity5 {
    border-bottom: 2px #ffcf70 solid;
}

.conesInfo {
    width: calc(100% - 179px);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.conesStats {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 12px;
}

.conesStats li {
    width: 100%;
    border-bottom: 1px white solid;
    width: fit-content;
    text-wrap: nowrap;
}

.conePassiveContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 600px;
}

.forWho {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.forWhoIcons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
}

.forWhoIcons a {
    width: 50px;
    aspect-ratio: 1 / 1;
}

.navigationImage {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    min-width: 30px;
    min-height: 30px;
}

@media only screen and (min-width: 768px) {
    .conesList li {
        width: calc((100% - 16px) / 2);
    }
    .conesStats li {
        width: fit-content;
        gap: 6px;
    }
}

@media only screen and (min-width: 1024px) {
    .conesList li {
        width: 100%;
    }
    .conesStats li {
        width: fit-content;
        gap: 6px;
    }
    .conesInfo {
        width: 16%;
    }
    .coneImage,
    .backgroundImage {
        width: 100%;
        height: 100%;
    }
    .imageContainer {
        width: 25%;
        height: fit-content;
        aspect-ratio: 348 / 408;
        max-width: 348px;
        max-height: 408px;
    }
    .conePassiveContainer {
        width: 40%;
    }
    .forWho {
        width: 18%;
    }
}
