.charactersListContainer {
    margin: 0;
    padding: 0;
}

.characterOpenContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px #240090 solid;
}

.icon {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    stroke: #240090;
    padding-right: 10px;
    border-right: 1px #240090 solid;
}

.open {
    transform: rotate(-90deg);
}

.charactersTitle {
    text-align: center;
    flex-grow: 1;
}

.charactersList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.charactersLi {
    width: 250px;
    height: 100%;
}