.mainPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    height: 100vh;
    gap: 10px;
}