ul {
    list-style: none;
}

body, ul, li, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    background: none;
    font-family: urw-din, sans-serif;
    color: #ffffff;
}

body {
    background-color: #282828;
}

a {
    text-decoration: none;
}

bbbec7
ffffff

e4cb93