.headerContainer {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 25px 0 25px;
    margin-bottom: 32px;
}

.navigationContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.headerLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavToMain {
    display: flex;
    align-items: baseline;
    gap: 2px;
}

.navigationList {
    display: flex;
    justify-content: center;
    column-gap: 5%;
    row-gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.navigationContainer li {
    cursor: pointer;
    position: relative;
}

.dataBase {
    display: none;
    pointer-events: auto;
    width: fit-content;
    height: fit-content;
    overflow-y: auto;
    position: absolute;
    top: 18px;
    border-radius: 20px;
    z-index: 999;
    scrollbar-width: none;
    outline: none;
}

.firstLi,
.secondLi {
    display: flex;
    justify-content: center;
}

.firstLi:hover .dataBase {
    display: block;
}

.guidesModal {
    display: none;
    width: fit-content;
    height: fit-content; 
    overflow-y: auto;
    position: absolute;
    top: 18px;
    border-radius: 20px;
    z-index: 999;
    scrollbar-width: none;
    outline: none;
    pointer-events: auto;
}

.secondLi:hover .guidesModal {
    display: block;
}

.wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.vector {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid black;
}

.vectorInner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2px; 
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #282828; 
}

.headerProfileForPhone,
.headerProfileForDesctop {
    display: flex;
    gap: 10px;
    align-items: center;
}

.headerProfileForDesctop {
    display: none;
}

.headerUserWelcomeText {
    display: none;
    cursor: pointer;
}

.headerProfileIcon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
}

.signupBtn {
    background: none;
    padding: 8px 12px 8px 12px;
    color: white;
    border: 1px white solid;
    border-radius: 10px;
}

.loginBtn {
    background: white;
    padding: 8px 12px 8px 12px;
    border: none;
    color: #282828;
    border: 1px white solid;
    border-radius: 10px;
}

.navigationListText {
    color: #e4cb93;
}

@media only screen and (min-width: 768px) {
    .navigationContainer {
        flex-direction: row;
    }
    .navigationList {
        flex-wrap: nowrap;
        width: fit-content;
        gap: 20px;
        align-items: center;
        margin: 0 auto;
    }
    .firstLi {
        width: fit-content;
    }
    .navigationListText {
        white-space: nowrap;
    }
    .headerProfileForPhone {
        display: none;
    }
    .headerProfileForDesctop {
        display: flex;
    }
}

@media only screen and (min-width: 1024px) {
    .headerUserWelcomeText {
        display: inline;
    }
}