.conesListContainer {
    margin: 0;
    padding: 0;
}

.conesOpenContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    stroke: #240090;
}

.open {
    transform: rotate(-90deg);
}

.conesTitle {
    text-align: center;
    flex-grow: 1;
}

.conesList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.conesLi {
    width: 250px;
    height: 270px;
}